@media screen and (max-width: 1366px) {
	.point-line{
		max-width: 14%;
	}
	#section5{
		.portfolio-title{
			left: 18%;
		}
	}
	#section7{
		h2{
			left: 18%;
		}
	}
	#section3{  
		h2{
			left: 18%;
		}
	}
	#main-menu-soc{
		display: none;
	}
}
