@media screen and (max-width: 320px){
	.experience-blocks{
		.exp-left{
			padding-right: 0;
			h2{
				text-align: center;
			}
		}
	}
	
	#section1{
		padding-top: 30px;
		padding-bottom: 30px;
		.section1-inf{
			margin-top: 0;
			.divider-m{
				margin-top: 20px;
			}
			h1{
				font-size: 50px;
			}
			h3{
				margin-top: 20px;
			}
		}
	}

	#section5{
		padding-bottom: 60px;
		.for-hover{
			max-height: 250px;
		}
		.portfolio-title{
			font-size: 38px;
		}
	}

	#section6{
		padding-top: 50px;
		padding-bottom: 50px;
		.hire-inner{
			button{
				margin-top: 20px;
				max-width: 287px;
			}
		}
		.container{
			height: initial;
		}
		.row{
			height: initial;
		}
		.for-shadow{
			.shadow{
				padding-top: 40px;
				padding-bottom: 40px;
			}
		} 
		.hire-inner{
			a{
				margin-top: 40px;
				width: 100%;
			}
			h2{
				font-size: 38px;
			}
			p{
				font-size: 38px;
			}
		}
	}
	.experience-blocks{
		.exp-left{
			h2{
				font-size: 38px;
			}
			h4{
				text-align: center;
			}
			h5{
				text-align: center;
			}
		} 
		.exp-right{
			h3{
				text-align: center;
				color: $main-green;
			}
			p{
				text-align: center;
			}
		}
	}
	#section3{
		h2{
			font-size: 32px;
		}
		.col-md-4{
			margin-top: 80px; 
		}
	}
	#section2{
		text-align: center;
		padding-top: 30px;
		.iam-ul-top-first{
			div{
				margin-top: 10px !important;
			}
		}
		.iam-ul-top{
			div:first-child{
				width: 100%;
			}
			div:nth-child(2){
				position: static;
				margin-top: 10px;  
				padding-bottom: 5px;
				border-bottom: 1px solid $dark-blue;
			}
		}
		.education-row{
			h3{
				font-size: 42px;
			}
		} 
	} 

	#section4{
		h3.ex-section-title{
			font-size: 38px;
		}
	} 
	#nav-icon1{
		margin-top: 9%;
	}
	#nav-icon-parent{
		padding-right: 35px;
	}
	.education-ul-bottom{
		li{
			div:first-child{
				padding-right: inherit;
			}
			div:nth-child(2){
				p{
					margin-bottom: 8px;
					margin-top: 8px;
				}
			}
		}
	}  
	.cocial-buttons{	
		li{
			width: 40px;
		}
		a{
			font-size: 32px;
		} 
	}  
	#section7{
		padding-top: 30px;
		padding-bottom: 50px;
		#contract-row-3-form{
			button{
				width: 100%;
			}
		} 
	}
}  