@media screen and (max-height: 480px){
	#nav-icon1{
		margin-top: 5%;
	}
	.icon-bar{
		height: initial !important;
		width: 100% !important;
		display: block;
		right: 5px;
		.menu-name{
			display: none !important;
		}
		ul{
			margin-top: -68px;
			margin-right: 40px;
			li{
				float: left;
				a{
					border: none !important;
				}
			}
		}
	}
}