@media screen and (max-width: 640px){
	.experience-blocks{
		.exp-left {
			display: block;
			width: 100%;
			max-width: 320px;
			border-right: none;
			h2{
				text-align: justify;
			} 
			h4{
		 		text-align: left;
			}
			h5{
				text-align: left;
			}
		}
		.exp-right{
			padding-left: 0;
		}
	}

	#section2{
		.iam-ul-top{
			div:first-child{
				display: block;
			}
			div:nth-child(2){
				left: inherit;
				padding-left: 0;
				margin-top: inherit;
			}
		} 
	} 
}
 
@media screen and (max-height: 640px){
		/* About start */
		#section2{
			padding-top: 20px;
			padding-bottom: 30px;
			.iam-ul-top{
				div:nth-child(2){
					margin-top: 20px;
					font-size: 18px;
				}
				div:first-child{
					margin-top: 20px;
					font-size: 18px;
				}
			} 
			.divid-950{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.education-ul-bottom{
				margin-top: initial;
				li{
					div:first-child{
						margin-top: 15px;
						padding-top: 15px;
						min-height: 50px;
						font-size: 18px;
					}
					div:nth-child(2){
						p{
							font-size: 20px;
						}
					}
				}
			}
		} 

		/* Skills start */
		#section3{
			padding-top: 20px;
			padding-bottom: 30px;
			.circle + p{
				margin-top: 10px;
				font-size: 24px;
			}
			> .container{
				.row{
					div.active-position{
						margin-top: 60px; 
					}
				} 
			}
		}

		/* experience start */
		#section4{
			padding-top: 20px;
			padding-bottom: 30px;
			> .container{
				.row{
					div.active-position{
						margin-top: 90px;
					}
					&:nth-of-type(2) > {
						div >{
							div{
							padding-top: 5px;
						}
					} 
				}
			}
			.exp-rows{
				&:last-child{
					.experience-blocks{
						border-bottom: none;
					}
				}
			}
		}
		.experience-blocks{
			margin-top: 0;
			padding-bottom: 0;
			border-bottom: 1px solid #D8D8D8;
			.exp-left{
				hr{
					margin-top: 5px;
					margin-bottom: 5px;
				}
				h2{
					margin-top: 10px;
				}
				h5{ 
					margin-top: 5px;
				}
			} 
		} 
	}

	/* Portfolio start */
	#section5{
		padding-top: 20px;
		padding-bottom: 30px;
		.portfolio-nav{
			margin-top: 50px;
			ul{
				li{
					a{
						font-size: 18px;
					}
				}
			}
		}
		.for-hover{
			max-height: 220px;
		}
		.portfolio-inner-main{
			margin-top: 30px;
		}
	}
	/* Contact section start */
	#section7{
		padding-top: 20px;
		#contract-row-3-form{
			margin-top: 20px;
			input{
				margin-top: 50px;
			}
			label{
				font-size: 16px;
			}
			.form-submit-wrap{
				margin-top: 30px;
			}
		}
		.contact-row-2{
			h3{
				margin-bottom: 10px;
				margin-top: 15px;
				padding-bottom: 10px;
				font-size: 16px;
			}
			p{
				font-size: 16px;
			}
			.col-sm-4{
				margin-top: 90px;
			}
		}
		.cocial-buttons{
			margin-top: 20px;
			font-size: 40px;
		}
	}

	/* Hire section */
	#section6{
		padding-top: 0;
		padding-bottom: 0;
	}

}