//
// Site css
// --------------------------------------------

html, body {
  margin: 0 !important;
  //height: 100%;
}

body{
	overflow-x: hidden; 
}

.no-padding{
	padding-left: 0 !important;
	padding-right: 0 !important; 
}

.show {
  display: block !important; 
}

section{
	position: relative;
	@include clear(); 
}

.pad-t{
	padding-top: 68px;
}

/* Nav Icon */

#nav-icon-parent{ 
	text-align: right; 
	padding-right: 85px;
}
 
#nav-icon1{
	display: inline-block;	
	width: 40px;
    height: 45px;
    margin-top: 2.2%;
	position: fixed;   
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 12;
}

#nav-icon1 span{
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #fff;
	border-radius: 1px; 
	border: 1px solid #444444;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 15px;
}

#nav-icon1 span:nth-child(3) {
	top: 30px; 
}

#nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}



#section1{
	background: url(../images/home/pexels-photo-60778.jpeg);
	/* background-attachment: fixed; */
	background-size: cover; 
	background-position: center center;
	.section1-inf{
		margin-top: 18%;
		h1{
			font-family: MyriadProReg;
			max-width: 335px;
			font-size: 72px;
			color: #fff; 
			span{
				color: $main-green;
			}
			span:nth-child(2){
				font-size: 90px;
			}
		}
		h3{
			margin-top: 45px;
			font-family: MyriadProReg;
			font-size: 40px;
			color: $main-green;
		}
		.divider-m{   
			width: 450px; 
			border: 1px solid #fff;
			margin-top: 45px; 
		}
	}
	.icon-bar {
		position: fixed;
		z-index: 10;
		right: -70px;
		padding: 125px 0 15px 0;
	    height: 100%;
	    width: 130px;  
	    text-align: center;
	    background-color: #FAFAfA; 
	    display: none;
	   ul {
	   	height: calc(100% - 70px);
	   	 li{
	    	height: calc((100%)/7);
	    	.active {
	    	    color: $main-green;
	    	}
	    	a{
	    		img{
	    			-webkit-transition: all 0.3s ease;
	    			-moz-transition: all 0.3s ease;
	    			-o-transition: all 0.3s ease;
	    			transition: all 0.3s ease;    
	    		}			 	 
	    	}
	    }
	}

	   .social-block {
	   	#main-menu-soc{
	   		li{
	   			a{
	   				i{  display: inline-block;
	   					color: #5F5F5F;
	   					margin-top: 15px;
	   					font-size: 20px;
	   				}
	   			}
	   		}
	   	}
	}
}


	.menu-name{
		font-size: 14px;
		font-family: MyriadProReg; 
		position: relative;
		top: -42px; 
		color: $main-green;
		padding-right: 10px;
		display: none; 
	}


	.icon-bar{
	li{
		&:hover{
			.menu-name{
				display: block;
				left: -90%;
			}
		}
	}
	 a.m-a{ 
	    -webkit-display: flex;
	    -moz-display: flex;
	    -o-display: flex;
	    display: flex;
	    width: 130px;
	    height: 100%;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease; 
	    border-bottom: 1px solid #CACACA;
	    &:hover{
	    	border-bottom-color: $main-green;
	    }
	}

	 /*    &:first-child{
	 	height: 130px;
	 } */
	    img{
	    	margin: auto;
	    	display: block;
	    }
	}

	.arrow-down{
		left: 50%;
		position: absolute;
		bottom: 0;
		text-align: center;
	}

	 @keyframes bounce {
		0%, 20%, 50%, 80%, 100% {
	    transform:translateY(0);
	  }
		40% {
	    transform:translateY(-30px);
	  }
		60% {
	    transform:translateY(-15px);
	  }
	}

	.arrow {
	  position: fixed; 
	  bottom: 15px; 
	  left: 50%; 
	  margin-left:-20px; 
	  width: 40px; 
	  height: 40px; 
	  background-image: url(../images/menuicons/arrow-b.png);
	  background-repeat: no-repeat;
	  background-size: contain;
	}

	.bounce {
	  	animation: bounce 1.2s linear infinite;
	}
}


/* About Section */
#section2{
	padding-bottom: 58px;
	font-family: MyriadProReg; 
	.container{
		padding-left: 10%;
	}
	h2{ 
		position: absolute;
/* 		left: 28%; */
		font-size: 42px;
		color: $dark-font;
	}
	h3{ 
		margin-top: 50px;
		font-size: 32px;
		color: $dark-blue;
	}
	.education-row h3{
		margin-top: 0;
	}
	#p-c-motivated{ 
		max-width: 947px;
		margin-top: 40px;
		padding-top: 8px;
		padding-bottom: 8px;
		color: #fff;
		background: $dark-blue;
	}

	.iam-ul-top{
		font-family: MyriadProReg;
		font-size: 18px; 
		div{	
			display: inline-block;
			&:first-child{
				margin-top: 40px;
				width: 50%;
				font-size: 24px;
				font-weight: 600;
				color: $dark-blue;
			}
			&:nth-child(2){
				font-size: 24px;
				margin-top: 40px;
				color: $main-green;     
				position: absolute;
				left: 0;
				padding-left: 50%;
			}
		}
	}
	.iam-ul-top-first{
		div{
			margin-top: 0 !important; 
		}
	}
	.block-3{
		display: inline-block;
		vertical-align: middle;
		& + span{
			padding-left: 15px;
		}
	}
	.education-right-block{
		p{
			margin-top: 58px;
			font-size: 24px;
			color: $dark-blue;
		}
		small{
			font-size: 18px;
			color: $dark-font; 
		} 
	}
	.divid-950{
		max-width: 945px;
		margin-top: 50px;
		margin-bottom: 50px;
		border: 0;
		border-top: 1px solid #eee;  
	}
}

.education-ul-bottom{
	margin-top: 35px;
	li{
		div{
			display: inline-table;

		}
		div:first-child{
 			color: $main-green;
 			font-size: 24px;
 			border-right: 1px solid #D8D8D8;
 			padding-right: 88px;
 			margin-top: 30px;
 			padding-top: 30px;
 			min-height: 80px;
 			min-width: 324px;
		}
		div:nth-child(2){
			padding-left: 88px;
			p{
				color: $dark-blue;
				font-size: 24px;
			}
		}
	}
}

.point-line{
	max-width: 25%;
	border: 1px solid #A4A4A4;
	position: relative;
	bottom: -20px;
	&:after{
		position: absolute;
		content: "";
		display: block;
		right: -13px;
		top: -13px;
		width: 25px;
		height: 25px; 
		border-radius: 100%;
		background: $main-green;
	}
}

.blue-row{
	max-width: 945px;
	text-align: center;
	margin-top: 50px;
	padding-left: 55px;
	padding-right: 55px;
	background: $dark-blue;
	color: #fff;
	.col-sm-4{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	span{
		padding-left: 30px;
	}
	img{
		vertical-align: middle;
	}
}



/* End of About section */


/* Skills Section */
#section3{ 
 	background: url(../images/Skills/skillsbgdark.png);
 	/* background-attachment: fixed; */
 	background-size: cover;
 	background-position: center center;
 	background-repeat: no-repeat;
 	padding-bottom: 140px;
	h2{
		position: absolute;
 		left: 28%;
		color: #fff;
		font-family: MyriadProReg;
		font-size: 42px;
	}

	>.container {
		>.row {
			>div {
				transition: all 0.5s linear;
			    -webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1);
			    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
			    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			    -webkit-transform: scale(0);
			    -moz-transform: scale(0);
			    -o-transform: scale(0);
			    transform: scale(0);

			    &.active-position {
			    	-webkit-transform: scale(1);
			    	-moz-transform: scale(1);
			    	-o-transform: scale(1);
			    	transform: scale(1);
			    }

			}
		}
	}
	.col-md-4{
		margin-top: 156px;
	}
 
	.circles-text{
		color: #fff; 
		font-family: MyriadProReg;
		font-size: 36px !important;
	}
	.circle{ 
		+ p{
			margin-top: 30px;
			color: #fff;
			font-family: MyriadProReg;
			font-size: 36px;
		}
	}
}


/* End of Skills Section */




/* Experience Section start*/
#section4{
	background: #fff;
	padding-bottom: 100px; 
	.container{
		padding-left: 10%;

		>.row {
			&:nth-of-type(1) {
				>div {
					>div {
							transition: all 0.9s linear;
						    -webkit-transition: all 600ms cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
					}
				}
			}

			&:nth-of-type(2) {
				>div {
					>div {
							transition: all 0.9s linear;
						    -webkit-transition: all 600ms cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
					}
				}
			}

			&:nth-of-type(3) {
				>div {
					>div {
							transition: all 0.9s linear;
						    -webkit-transition: all 600ms cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition: all 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
						    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
						    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
					}
				}
			}

			> div {
				>div {
					&.active-position {
						-webkit-transform: translateX(0px);
						-moz-transform: translateX(0px);
						-o-transform: translateX(0px);
						transform: translateX(0px);
					}
				}
			}
		}
	}
	h3.ex-section-title{
		position: absolute;
		/* left: 28%; */
		color: $dark-font;
		font-family: MyriadProReg;
		font-size: 42px;
	}
}

	.experience-blocks{
		margin-top: 80px;
		font-family: MyriadProReg;
		div{
			min-height: 218px;
			padding-top: 34px;
			display: table-cell;
		}
		.exp-left{
			width: 330px;
			border-right: 1px solid #D8D8D8;
			padding-right: 86px;
			-webkit-transform: translateX(-2000px);
			-moz-transform: translateX(-2000px);
			-o-transform: translateX(-2000px);
			transform: translateX(-2000px);
			span{
				color: $main-green;
			}	 
			h2{
				margin-top: 15px;
				font-size: 48px;
				color: $dark-font;
				text-align: center;
			}	 
			h4{
				margin-top: 15px;
				text-align: right;
				font-size: 26px;
				color: $main-green;
			}
			h5{
				margin-top: 18px;
				text-align: right;
				font-size: 24px;
				color: #686868;
			}
			p{
				small:first-child{
					font-size: 22px;
					color: #686868;
					width: 50%;
				}
				small:nth-child(2){
					font-size: 22px;
					float: right;
					color: $main-green;
				}
			}
		}

		.exp-right{
			font-family: MyriadProReg;
			padding-left: 74px;
			-webkit-transform: translateX(2000px);
			-moz-transform: translateX(2000px);
			-o-transform: translateX(2000px);
			transform: translateX(2000px);
			div{
				padding-left: 80px;
			}
			h3{
				color: $dark-blue;
				font-size: 26px;
			}
			p{
				margin-top: 22px;
				color: #686868;
				line-height: 25px;
				font-size: 18px;
			}
		}
	}

/* Experience Section end*/


/* Portfolio Section start*/
	#section5{
		font-family: MyriadProReg;
		padding-bottom: 85px;
		background: url(../images/portfolio/portfoliobg.png);
		/* background-attachment: fixed; */
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		.portfolio-title{
			position: absolute;
			left: 32%;
			color: #fff;
			font-family: MyriadProReg;
			font-size: 42px;
		}
	}

	.portfolio-nav{
		margin-top: 74px;
		ul{
			display: inline-block;
			li{
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				float: left;
				border-bottom: 1px solid #A3A1A1;
				a{
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				padding: 24px 74px;
				display: inline-block;
				font-size: 24px;
				text-align: center;
				text-decoration: none;
				color: #f9f9f9;
				}
			}
		}
	}

	.overlay-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.6);
	}

	.portfolio-inner-main{
		margin-top: 50px;
	}

	.port-info{	
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		h2{
			font-size: 24px;
			color: #373536;
		}
		p{
			margin-top: 12px;
			font-size: 18px; 
			color: #4e4e4e; 
		}
	}
	/* Portfolio images starts here */
	.portfolio-lg-block-1{
		padding: 20px;
		position: relative;
		height: 500px;
		background: url(../images/portfolio/1.png);
		background-size: cover;
		background-position: center center;
	}

	.portfolio-sm-block-1{
		padding: 20px;
		position: relative;
		height: 250px;
		background: url(../images/portfolio/2.png);
		background-size: cover;
		background-position: center center;
	}	

	.portfolio-lg-block-2{
		padding: 20px;
		position: relative;
		height: 500px;
		background: url(../images/portfolio/3.png);
		background-size: cover;
		background-position: center center;
	}

	.portfolio-sm-block-2{
		padding: 20px;
		position: relative;
		height: 250px;
		background: url(../images/portfolio/4.png);
		background-size: cover;
		background-position: center center;
	}	

	.portfolio-lg-block-3{
		padding: 20px;
		position: relative;
		height: 500px;
		background: url(../images/portfolio/5.png);
		background-size: cover;
		background-position: center center;
	}

	.portfolio-sm-block-3{
		padding: 20px;
		position: relative;
		height: 250px;
		background: url(../images/portfolio/6.png);
		background-size: cover;
		background-position: center center;
	}
	/* Portfolio images */

	.portfolio-hover-div{
		overflow: hidden;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s; 
		-o-transition: all 0.3s;
		transition: all 0.3s;
		position: relative; 
		width: 100%;
		height: 100%;
		border: 1px solid #6F6D4C;
		border-radius: 1px;
		visibility: hidden;
		a{
			-webkit-display: flex;
			-moz-display: flex;
			-o-display: flex;
			display: flex;
			width: 100%;
			height: 100%;
			text-decoration: none;
			margin: auto;
			font-size: 50px;
			color: #373536;
			i{
				-webkit-transition: .3s ease-in-out;
				-moz-transition: .3s ease-in-out;
				-o-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				margin: auto;
				visibility: hidden;
			}
		}
	}

	.for-hover{
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		&:hover{
			.portfolio-hover-div{
				visibility: visible; 
			}
		}
	}
/* portfolio Section end*/


/* section6 Start*/
#section6{
 	padding-top: 100px;
 	padding-bottom: 100px;
	background: #fff;
	.container,.row{
		height: 100%;
	}
	.hire-wrap{
		-webkit-display: flex;
		-moz-display: flex;
		-o-display: flex;
		display: flex;
		height: 100%;
	 	margin: auto;
	}
	.hire-inner{
		font-family: MyriadProReg;
		margin: auto;
		width: 100%;
		h2{
			font-size: 70px;
			font-weight: bold;
			color: $dark-blue; 
		}
		p{
			margin-top: 50px;
			font-size: 48px;
			color: $dark-blue;
		}
		button{
			width: 310px;
			margin-top: 70px;
			font-size: 48px;
			display: inline-block;
			text-decoration: none;
			background: $main-green;
			color: #fff;
			border: 0 solid;
			outline-offset: 0px;
			outline: 1px solid $main-green;
			line-height: 105px;
			height: 105px;
			cursor: pointer;
			&:hover{
			-webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
					transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
				    border: 1px solid;
				    box-shadow: inset 0 0 20px rgba(50, 98, 115, 0.5), 0 0 20px rgba(50, 98, 115, 0.2);
				    outline-color: rgba(50, 98, 115, 0);
				    outline-offset: 15px;
				    text-shadow: 1px 1px 2px #427388;
			}
		}
	}
	.for-shadow{
		position: relative; 

 		&:before,&:after{
			z-index: 1;
		    position: absolute;
		    content: "";
		    bottom: 15px;
		    left: 10px;
		    width: 50%;
		    top: 80%;
		    max-width: 300px;
		    background: #777;
		    box-shadow: 0 15px 10px #777;
		    transform: rotate(-3deg);
 		}
 		&:after{
 			transform: rotate(3deg);
		    right: 10px;
		    left: auto;
 		}
 		.shadow{
 			border: 1px solid #ADC0C7;
 			background: #fff;
 			padding-top: 80px;
 			padding-bottom: 80px;
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
	}
	}
	#hire-modal{
		.form-control{
		    background: transparent;
		}
		form {
			font-family: MyriadProReg;
			width: 100%;
			> div{
				position: relative;
				overflow: hidden;
			}
			input,textarea{
				width: 100%;
				border: 1px solid lightgray;
				background: none;
				position: relative;
				top: 0;
				left: 0;
				z-index: 1;
				padding: 8px 12px;
				outline: 0;
			}

			&:valid{
				background: #fff;
			}
			&:focus{
				border-color: $dark-blue;
			}

			label{
				-webkit-transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
				transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
				position: absolute;
				color: #999;
				padding: 7px 6px;
				font-weight: normal;
			}
			textarea{
				height: 120px;
				display: block;
				resize: vertical;
			}
			button.hire-submit{
					margin-top: 30px;
					display: inline-block;
				    text-align: center;
				    width: 186px;
				    height: 50px;
				    border: 0 solid;
				    outline-offset: 0px;
				    outline: 1px solid $main-green;
				    font-size: 20px;
				    font-family: MyriadProReg;
				    background: $main-green;
				    color: #fff;
				    &:hover{
				    	-webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
				    		transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
				    		border: 1px solid;
				    		box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
				    		outline-color: rgba(50, 98, 115, 0);
				    		outline-offset: 15px;
				    		text-shadow: 1px 1px 2px #427388; 
				    	
				}
			}
		}

		form input:focus + label, form textarea:focus + label {
			background: $main-green;
			color: white;
			font-size: 70%;
			padding: 1px 6px;
			z-index: 2;
			text-transform: uppercase;
		}

		form.go-right label {
			border-radius: 0 5px 5px 0;
			height: 100%;
			top: 0;
			right: 100%;
			width: 100%;
			margin-right: -100%;
		}
		form.go-right input:focus + label, form.go-right textarea:focus + label {
			right: 0;
			margin-right: 0;
			width: 40%; 
			padding-top: 14px;
		}
	}

	.form-control{
		border-radius: 4px;
		height: 40px;
	}
	.modal-header{
		border-bottom: none;
		font-family: MyriadProReg;
		font-size: 24px; 
		color: $dark-font;
	}
	.modal-footer{
		border: none;
	}
}

/* section6 end*/

/* section7 start*/
	#section7{
		padding-bottom: 125px;
		background: url(../images/contact/contact-bg.png);
		/* background-attachment: fixed; */
		background-size: cover;
		background-position: center center;
		h2{
			position: absolute;
			left: 28%;
			color: #fff;
			font-family: MyriadProReg;
			font-size: 42px;
		}
		.contact-row-2{
			font-family: MyriadProReg;
			color: #fff;
			.col-sm-4{
				margin-top: 115px;
			}
			img{
				display: block;
				margin: 0 auto;
			}
			h3{
				display: inline-block;
				margin-top: 20px;
				margin-bottom: 40px;
				padding-bottom: 15px;
				font-size: 24px;
				border-bottom: 1px solid $main-green;
			}
			p{
		   		font-size: 24px;
		   		a{
		   			color: #fff;
		   			text-decoration: none;
		   			outline: none;
		   		}
			}
		}
		#contract-row-3-form{
			margin-top: 140px;
			input{
				display: block;
				width: 100%;
				height: 34px;
				-webkit-transition: .3s ease-in-out;
				-moz-transition: .3s ease-in-out;
				-o-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				margin-top: 145px;
				padding-left: 0;
				padding-bottom: 15px;
				padding-top: 15px;
				background: transparent;	
				color: #e6e6e6;
				border: none;
				box-shadow: 0;
				border-bottom: 1px solid #cfcece;	
				font-family: MyriadProReg;
				font-size: 18px;
				letter-spacing: 1px;
				&:focus{
					box-shadow: none;
					border-bottom: 1px solid $main-green;
				} 
			}
			label{
				-webkit-transition: .3s ease-in-out;
				-moz-transition: .3s ease-in-out;
				-o-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				position: absolute;
				margin-top: -30px;
				color: #fff;
				letter-spacing: 1px;
				font-family: MyriadProReg;
				font-size: 18px;
				cursor: text;
			}
			.add-active-inp{
					-webkit-transform: translateY(-140%);
					-moz-transform: translateY(-140%);
					-ms-transform: translateY(-140%);
					-o-transform: translateY(-140%);
					transform: translateY(-140%);
					font-size: 14px;
					color: $main-green;
				}
				.form-submit-wrap{
					margin-top: 74px;
				}
				button{
					display: inline-block;
					text-align: center;
					width: 186px;
					height: 64px; 
					border: 0 solid;
					outline-offset: 0px;
					outline: 1px solid #fff;
					font-size: 30px;
					font-family: MyriadProReg;
					background: transparent;
					color: #fff;
					&:hover{
						-webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
						transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
						border: 1px solid;
						box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
						outline-color: rgba(50, 98, 115, 0);
						outline-offset: 15px;
						text-shadow: 1px 1px 2px #427388;
					}
				}
			}

		::-webkit-input-placeholder {
		   color: #fff;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: #fff;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: #fff;  
		}
		:-ms-input-placeholder {  
		   color: #fff;  
		}


		input:focus::-webkit-input-placeholder {
		   color: $main-green;
		}
		input:focus:-moz-placeholder { /* Firefox 18- */
		   color: $main-green;  
		}
		input:focus::-moz-placeholder {  /* Firefox 19+ */
		   color: $main-green;  
		}
		input:focus:-ms-input-placeholder {  
		   color: $main-green;  
		}
	}

	.cocial-buttons{
		margin-top: 50px;
		font-size: 60px;
		li{
			width: 100px;
		}
		a{
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			display: inline-block;
			width: 100%;
			text-decoration: none;
			color: #5F5F5F;
			&:hover{
				color: $main-green;
			}
		}
		.fa-twitter{
			transition: all 0.3s;
			&:hover{
				transform: rotate(9deg);
			}
		}
	}
/* section7 end*/