@font-face {
	font-family:MyriadProReg;
	src:url(MyriadProReg/MyriadPro-Regular.eot);
}

@font-face {
	font-family:MyriadProReg;
	src:url(MyriadProReg/MyriadPro-Regular.otf);
}

@font-face {
	font-family:MyriadProReg;
	src:url(MyriadProReg/MyriadPro-Regular.ttf);
}

@font-face {
	font-family:MyriadProReg;
	src:url(MyriadProReg/MyriadPro-Regular.woff);
}