a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

* {
  -webkit-text-size-adjust: auto !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  border: 0;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1;
  word-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="text"], input[type="submit"], textarea {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*input[type=text], input[type=email], input[type=password], input[type=number], textarea {
	&::-webkit-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
}


input.error {
	color: #D9272E !important;

	&::-webkit-input-placeholder {
		color: #D9272E !important;
	}
	&:-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #D9272E !important;
	}
}
 */
/*
	cdCss functions
	--------------------
*/
/* Slider */
/* Slider */
html, body {
  margin: 0 !important;
}

body {
  overflow-x: hidden;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.show {
  display: block !important;
}

section {
  position: relative;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.pad-t {
  padding-top: 68px;
}

/* Nav Icon */
#nav-icon-parent {
  text-align: right;
  padding-right: 85px;
}

#nav-icon1 {
  display: inline-block;
  width: 40px;
  height: 45px;
  margin-top: 2.2%;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 12;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #444444;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#section1 {
  background: url(../images/home/pexels-photo-60778.jpeg);
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
}

#section1 .section1-inf {
  margin-top: 18%;
}

#section1 .section1-inf h1 {
  font-family: MyriadProReg;
  max-width: 335px;
  font-size: 72px;
  color: #fff;
}

#section1 .section1-inf h1 span {
  color: #12c2bc;
}

#section1 .section1-inf h1 span:nth-child(2) {
  font-size: 90px;
}

#section1 .section1-inf h3 {
  margin-top: 45px;
  font-family: MyriadProReg;
  font-size: 40px;
  color: #12c2bc;
}

#section1 .section1-inf .divider-m {
  width: 450px;
  border: 1px solid #fff;
  margin-top: 45px;
}

#section1 .icon-bar {
  position: fixed;
  z-index: 10;
  right: -70px;
  padding: 125px 0 15px 0;
  height: 100%;
  width: 130px;
  text-align: center;
  background-color: #FAFAfA;
  display: none;
}

#section1 .icon-bar ul {
  height: calc(100% - 70px);
}

#section1 .icon-bar ul li {
  height: calc((100%)/7);
}

#section1 .icon-bar ul li .active {
  color: #12c2bc;
}

#section1 .icon-bar ul li a img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#section1 .icon-bar .social-block #main-menu-soc li a i {
  display: inline-block;
  color: #5F5F5F;
  margin-top: 15px;
  font-size: 20px;
}

#section1 .menu-name {
  font-size: 14px;
  font-family: MyriadProReg;
  position: relative;
  top: -42px;
  color: #12c2bc;
  padding-right: 10px;
  display: none;
}

#section1 .icon-bar {
  /*    &:first-child{
	 	height: 130px;
	 } */
}

#section1 .icon-bar li:hover .menu-name {
  display: block;
  left: -90%;
}

#section1 .icon-bar a.m-a {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  width: 130px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #CACACA;
}

#section1 .icon-bar a.m-a:hover {
  border-bottom-color: #12c2bc;
}

#section1 .icon-bar img {
  margin: auto;
  display: block;
}

#section1 .arrow-down {
  left: 50%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#section1 .arrow {
  position: fixed;
  bottom: 15px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/menuicons/arrow-b.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#section1 .bounce {
  animation: bounce 1.2s linear infinite;
}

/* About Section */
#section2 {
  padding-bottom: 58px;
  font-family: MyriadProReg;
}

#section2 .container {
  padding-left: 10%;
}

#section2 h2 {
  position: absolute;
  /* 		left: 28%; */
  font-size: 42px;
  color: #545454;
}

#section2 h3 {
  margin-top: 50px;
  font-size: 32px;
  color: #326273;
}

#section2 .education-row h3 {
  margin-top: 0;
}

#section2 #p-c-motivated {
  max-width: 947px;
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  background: #326273;
}

#section2 .iam-ul-top {
  font-family: MyriadProReg;
  font-size: 18px;
}

#section2 .iam-ul-top div {
  display: inline-block;
}

#section2 .iam-ul-top div:first-child {
  margin-top: 40px;
  width: 50%;
  font-size: 24px;
  font-weight: 600;
  color: #326273;
}

#section2 .iam-ul-top div:nth-child(2) {
  font-size: 24px;
  margin-top: 40px;
  color: #12c2bc;
  position: absolute;
  left: 0;
  padding-left: 50%;
}

#section2 .iam-ul-top-first div {
  margin-top: 0 !important;
}

#section2 .block-3 {
  display: inline-block;
  vertical-align: middle;
}

#section2 .block-3 + span {
  padding-left: 15px;
}

#section2 .education-right-block p {
  margin-top: 58px;
  font-size: 24px;
  color: #326273;
}

#section2 .education-right-block small {
  font-size: 18px;
  color: #545454;
}

#section2 .divid-950 {
  max-width: 945px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #eee;
}

.education-ul-bottom {
  margin-top: 35px;
}

.education-ul-bottom li div {
  display: inline-table;
}

.education-ul-bottom li div:first-child {
  color: #12c2bc;
  font-size: 24px;
  border-right: 1px solid #D8D8D8;
  padding-right: 88px;
  margin-top: 30px;
  padding-top: 30px;
  min-height: 80px;
  min-width: 324px;
}

.education-ul-bottom li div:nth-child(2) {
  padding-left: 88px;
}

.education-ul-bottom li div:nth-child(2) p {
  color: #326273;
  font-size: 24px;
}

.point-line {
  max-width: 25%;
  border: 1px solid #A4A4A4;
  position: relative;
  bottom: -20px;
}

.point-line:after {
  position: absolute;
  content: "";
  display: block;
  right: -13px;
  top: -13px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #12c2bc;
}

.blue-row {
  max-width: 945px;
  text-align: center;
  margin-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  background: #326273;
  color: #fff;
}

.blue-row .col-sm-4 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.blue-row span {
  padding-left: 30px;
}

.blue-row img {
  vertical-align: middle;
}

/* End of About section */
/* Skills Section */
#section3 {
  background: url(../images/Skills/skillsbgdark.png);
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 140px;
}

#section3 h2 {
  position: absolute;
  left: 28%;
  color: #fff;
  font-family: MyriadProReg;
  font-size: 42px;
}

#section3 > .container > .row > div {
  transition: all 0.5s linear;
  -webkit-transition: all 500ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

#section3 > .container > .row > div.active-position {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#section3 .col-md-4 {
  margin-top: 156px;
}

#section3 .circles-text {
  color: #fff;
  font-family: MyriadProReg;
  font-size: 36px !important;
}

#section3 .circle + p {
  margin-top: 30px;
  color: #fff;
  font-family: MyriadProReg;
  font-size: 36px;
}

/* End of Skills Section */
/* Experience Section start*/
#section4 {
  background: #fff;
  padding-bottom: 100px;
}

#section4 .container {
  padding-left: 10%;
}

#section4 .container > .row:nth-of-type(1) > div > div {
  transition: all 0.9s linear;
  -webkit-transition: all 600ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#section4 .container > .row:nth-of-type(2) > div > div {
  transition: all 0.9s linear;
  -webkit-transition: all 600ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#section4 .container > .row:nth-of-type(3) > div > div {
  transition: all 0.9s linear;
  -webkit-transition: all 600ms cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#section4 .container > .row > div > div.active-position {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#section4 h3.ex-section-title {
  position: absolute;
  /* left: 28%; */
  color: #545454;
  font-family: MyriadProReg;
  font-size: 42px;
}

.experience-blocks {
  margin-top: 80px;
  font-family: MyriadProReg;
}

.experience-blocks div {
  min-height: 218px;
  padding-top: 34px;
  display: table-cell;
}

.experience-blocks .exp-left {
  width: 330px;
  border-right: 1px solid #D8D8D8;
  padding-right: 86px;
  -webkit-transform: translateX(-2000px);
  -moz-transform: translateX(-2000px);
  -o-transform: translateX(-2000px);
  transform: translateX(-2000px);
}

.experience-blocks .exp-left span {
  color: #12c2bc;
}

.experience-blocks .exp-left h2 {
  margin-top: 15px;
  font-size: 48px;
  color: #545454;
  text-align: center;
}

.experience-blocks .exp-left h4 {
  margin-top: 15px;
  text-align: right;
  font-size: 26px;
  color: #12c2bc;
}

.experience-blocks .exp-left h5 {
  margin-top: 18px;
  text-align: right;
  font-size: 24px;
  color: #686868;
}

.experience-blocks .exp-left p small:first-child {
  font-size: 22px;
  color: #686868;
  width: 50%;
}

.experience-blocks .exp-left p small:nth-child(2) {
  font-size: 22px;
  float: right;
  color: #12c2bc;
}

.experience-blocks .exp-right {
  font-family: MyriadProReg;
  padding-left: 74px;
  -webkit-transform: translateX(2000px);
  -moz-transform: translateX(2000px);
  -o-transform: translateX(2000px);
  transform: translateX(2000px);
}

.experience-blocks .exp-right div {
  padding-left: 80px;
}

.experience-blocks .exp-right h3 {
  color: #326273;
  font-size: 26px;
}

.experience-blocks .exp-right p {
  margin-top: 22px;
  color: #686868;
  line-height: 25px;
  font-size: 18px;
}

/* Experience Section end*/
/* Portfolio Section start*/
#section5 {
  font-family: MyriadProReg;
  padding-bottom: 85px;
  background: url(../images/portfolio/portfoliobg.png);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#section5 .portfolio-title {
  position: absolute;
  left: 32%;
  color: #fff;
  font-family: MyriadProReg;
  font-size: 42px;
}

.portfolio-nav {
  margin-top: 74px;
}

.portfolio-nav ul {
  display: inline-block;
}

.portfolio-nav ul li {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: left;
  border-bottom: 1px solid #A3A1A1;
}

.portfolio-nav ul li a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 24px 74px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #f9f9f9;
}

.overlay-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio-inner-main {
  margin-top: 50px;
}

.port-info {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.port-info h2 {
  font-size: 24px;
  color: #373536;
}

.port-info p {
  margin-top: 12px;
  font-size: 18px;
  color: #4e4e4e;
}

/* Portfolio images starts here */
.portfolio-lg-block-1 {
  padding: 20px;
  position: relative;
  height: 500px;
  background: url(../images/portfolio/1.png);
  background-size: cover;
  background-position: center center;
}

.portfolio-sm-block-1 {
  padding: 20px;
  position: relative;
  height: 250px;
  background: url(../images/portfolio/2.png);
  background-size: cover;
  background-position: center center;
}

.portfolio-lg-block-2 {
  padding: 20px;
  position: relative;
  height: 500px;
  background: url(../images/portfolio/3.png);
  background-size: cover;
  background-position: center center;
}

.portfolio-sm-block-2 {
  padding: 20px;
  position: relative;
  height: 250px;
  background: url(../images/portfolio/4.png);
  background-size: cover;
  background-position: center center;
}

.portfolio-lg-block-3 {
  padding: 20px;
  position: relative;
  height: 500px;
  background: url(../images/portfolio/5.png);
  background-size: cover;
  background-position: center center;
}

.portfolio-sm-block-3 {
  padding: 20px;
  position: relative;
  height: 250px;
  background: url(../images/portfolio/6.png);
  background-size: cover;
  background-position: center center;
}

/* Portfolio images */
.portfolio-hover-div {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #6F6D4C;
  border-radius: 1px;
  visibility: hidden;
}

.portfolio-hover-div a {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: auto;
  font-size: 50px;
  color: #373536;
}

.portfolio-hover-div a i {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: auto;
  visibility: hidden;
}

.for-hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.for-hover:hover .portfolio-hover-div {
  visibility: visible;
}

/* portfolio Section end*/
/* section6 Start*/
#section6 {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
}

#section6 .container, #section6 .row {
  height: 100%;
}

#section6 .hire-wrap {
  -webkit-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  height: 100%;
  margin: auto;
}

#section6 .hire-inner {
  font-family: MyriadProReg;
  margin: auto;
  width: 100%;
}

#section6 .hire-inner h2 {
  font-size: 70px;
  font-weight: bold;
  color: #326273;
}

#section6 .hire-inner p {
  margin-top: 50px;
  font-size: 48px;
  color: #326273;
}

#section6 .hire-inner button {
  width: 310px;
  margin-top: 70px;
  font-size: 48px;
  display: inline-block;
  text-decoration: none;
  background: #12c2bc;
  color: #fff;
  border: 0 solid;
  outline-offset: 0px;
  outline: 1px solid #12c2bc;
  line-height: 105px;
  height: 105px;
  cursor: pointer;
}

#section6 .hire-inner button:hover {
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(50, 98, 115, 0.5), 0 0 20px rgba(50, 98, 115, 0.2);
  outline-color: rgba(50, 98, 115, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#section6 .for-shadow {
  position: relative;
}

#section6 .for-shadow:before, #section6 .for-shadow:after {
  z-index: 1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

#section6 .for-shadow:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#section6 .for-shadow .shadow {
  border: 1px solid #ADC0C7;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#section6 #hire-modal .form-control {
  background: transparent;
}

#section6 #hire-modal form {
  font-family: MyriadProReg;
  width: 100%;
}

#section6 #hire-modal form > div {
  position: relative;
  overflow: hidden;
}

#section6 #hire-modal form input, #section6 #hire-modal form textarea {
  width: 100%;
  border: 1px solid lightgray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}

#section6 #hire-modal form:valid {
  background: #fff;
}

#section6 #hire-modal form:focus {
  border-color: #326273;
}

#section6 #hire-modal form label {
  -webkit-transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
  transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  font-weight: normal;
}

#section6 #hire-modal form textarea {
  height: 120px;
  display: block;
  resize: vertical;
}

#section6 #hire-modal form button.hire-submit {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  width: 186px;
  height: 50px;
  border: 0 solid;
  outline-offset: 0px;
  outline: 1px solid #12c2bc;
  font-size: 20px;
  font-family: MyriadProReg;
  background: #12c2bc;
  color: #fff;
}

#section6 #hire-modal form button.hire-submit:hover {
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(50, 98, 115, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#section6 #hire-modal form input:focus + label, #section6 #hire-modal form textarea:focus + label {
  background: #12c2bc;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

#section6 #hire-modal form.go-right label {
  border-radius: 0 5px 5px 0;
  height: 100%;
  top: 0;
  right: 100%;
  width: 100%;
  margin-right: -100%;
}

#section6 #hire-modal form.go-right input:focus + label, #section6 #hire-modal form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 14px;
}

#section6 .form-control {
  border-radius: 4px;
  height: 40px;
}

#section6 .modal-header {
  border-bottom: none;
  font-family: MyriadProReg;
  font-size: 24px;
  color: #545454;
}

#section6 .modal-footer {
  border: none;
}

/* section6 end*/
/* section7 start*/
#section7 {
  padding-bottom: 125px;
  background: url(../images/contact/contact-bg.png);
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
}

#section7 h2 {
  position: absolute;
  left: 28%;
  color: #fff;
  font-family: MyriadProReg;
  font-size: 42px;
}

#section7 .contact-row-2 {
  font-family: MyriadProReg;
  color: #fff;
}

#section7 .contact-row-2 .col-sm-4 {
  margin-top: 115px;
}

#section7 .contact-row-2 img {
  display: block;
  margin: 0 auto;
}

#section7 .contact-row-2 h3 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 15px;
  font-size: 24px;
  border-bottom: 1px solid #12c2bc;
}

#section7 .contact-row-2 p {
  font-size: 24px;
}

#section7 .contact-row-2 p a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

#section7 #contract-row-3-form {
  margin-top: 140px;
}

#section7 #contract-row-3-form input {
  display: block;
  width: 100%;
  height: 34px;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin-top: 145px;
  padding-left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  background: transparent;
  color: #e6e6e6;
  border: none;
  box-shadow: 0;
  border-bottom: 1px solid #cfcece;
  font-family: MyriadProReg;
  font-size: 18px;
  letter-spacing: 1px;
}

#section7 #contract-row-3-form input:focus {
  box-shadow: none;
  border-bottom: 1px solid #12c2bc;
}

#section7 #contract-row-3-form label {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  position: absolute;
  margin-top: -30px;
  color: #fff;
  letter-spacing: 1px;
  font-family: MyriadProReg;
  font-size: 18px;
  cursor: text;
}

#section7 #contract-row-3-form .add-active-inp {
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
  font-size: 14px;
  color: #12c2bc;
}

#section7 #contract-row-3-form .form-submit-wrap {
  margin-top: 74px;
}

#section7 #contract-row-3-form button {
  display: inline-block;
  text-align: center;
  width: 186px;
  height: 64px;
  border: 0 solid;
  outline-offset: 0px;
  outline: 1px solid #fff;
  font-size: 30px;
  font-family: MyriadProReg;
  background: transparent;
  color: #fff;
}

#section7 #contract-row-3-form button:hover {
  -webkit-transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(50, 98, 115, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#section7 ::-webkit-input-placeholder {
  color: #fff;
}

#section7 :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

#section7 ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

#section7 :-ms-input-placeholder {
  color: #fff;
}

#section7 input:focus::-webkit-input-placeholder {
  color: #12c2bc;
}

#section7 input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #12c2bc;
}

#section7 input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #12c2bc;
}

#section7 input:focus:-ms-input-placeholder {
  color: #12c2bc;
}

.cocial-buttons {
  margin-top: 50px;
  font-size: 60px;
}

.cocial-buttons li {
  width: 100px;
}

.cocial-buttons a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #5F5F5F;
}

.cocial-buttons a:hover {
  color: #12c2bc;
}

.cocial-buttons .fa-twitter {
  transition: all 0.3s;
}

.cocial-buttons .fa-twitter:hover {
  transform: rotate(9deg);
}

/* section7 end*/
/*
* Ie fixes
*/
@media screen and (max-width: 1600px) {
  #section1 .icon-bar a.m-a {
    width: 70px;
    height: 80px;
  }
  #section1 .icon-bar a.m-a:first-child {
    width: 70px;
    height: 80px;
  }
  #section1 .icon-bar a.m-a img {
    width: 25px;
  }
  #section1 .icon-bar {
    width: 70px;
  }
  #section1 #main-menu-soc li a i {
    /* width: 15px; */
  }
  .point-line {
    max-width: 21%;
  }
  #section3 h2 {
    left: 26%;
  }
  #nav-icon1 {
    max-width: 70px;
  }
  #nav-icon-parent {
    padding-right: 55px;
  }
}

/* 

@media screen and (min-width: 1600px) {
.point-line{ 
	bottom: -20px;
	} 
} */
@media screen and (max-width: 1597px) {
  #nav-icon1 {
    margin-top: 1.2%;
  }
  #section1 .icon-bar {
    padding-top: 78px;
  }
}

@media screen and (max-width: 1280px) {
  .point-line {
    max-width: 9% !important;
  }
}

@media screen and (max-height: 1080px) {
  /* Skills start */
  #section3 .circle + p {
    margin-top: 10px;
    font-size: 24px;
  }
  #section3 > .container .row div.active-position {
    margin-top: 120px;
  }
  /* experience start */
  #section4 > .container .row div.active-position {
    margin-top: 90px;
  }
  #section4 > .container .row:nth-of-type(2) > div > div {
    padding-top: 5px;
  }
  #section4 > .container .exp-rows:last-child .experience-blocks {
    border-bottom: none;
  }
  #section4 .experience-blocks {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  #section4 .experience-blocks .exp-left hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #section4 .experience-blocks .exp-left h2 {
    margin-top: 10px;
  }
  #section4 .experience-blocks .exp-left h5 {
    margin-top: 5px;
  }
  /* Portfolio start */
  #section5 {
    padding-top: 30px;
  }
  #section5 .portfolio-nav {
    margin-top: 40px;
  }
  #section5 .portfolio-inner-main {
    margin-top: 30px;
  }
  /* Contact section start */
  #section7 #contract-row-3-form {
    margin-top: 90px;
  }
  #section7 #contract-row-3-form input {
    margin-top: 80px;
  }
  #section7 #contract-row-3-form label {
    font-size: 16px;
  }
  #section7 #contract-row-3-form .form-submit-wrap {
    margin-top: 60px;
  }
  #section7 .contact-row-2 h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }
  #section7 .contact-row-2 p {
    font-size: 16px;
  }
  #section7 .contact-row-2 .col-sm-4 {
    margin-top: 100px;
  }
  #section7 .cocial-buttons {
    font-size: 40px;
  }
}

@media screen and (max-width: 1366px) {
  .point-line {
    max-width: 14%;
  }
  #section5 .portfolio-title {
    left: 18%;
  }
  #section7 h2 {
    left: 18%;
  }
  #section3 h2 {
    left: 18%;
  }
  #main-menu-soc {
    display: none;
  }
}

@media screen and (max-height: 1024px) {
  #section2 {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  #section2 .iam-ul-top div:nth-child(2) {
    margin-top: 40px;
    font-size: 22px;
  }
  #section2 .iam-ul-top div:first-child {
    margin-top: 40px;
    font-size: 22px;
  }
  #section2 .divid-950 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #section2 .education-ul-bottom {
    margin-top: initial;
  }
  #section2 .education-ul-bottom li div:first-child {
    margin-top: 25px;
    padding-top: 25px;
    min-height: 65px;
    font-size: 24px;
  }
  #section2 .education-ul-bottom li div:nth-child(2) p {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .education-ul-bottom li div:nth-child(2) {
    padding-left: 0;
  }
  .education-ul-bottom li div {
    display: block;
  }
  .education-ul-bottom li div:first-child {
    border: none;
  }
  #section2 .container {
    padding-left: 15px;
  }
  #section4 .container {
    padding-left: 15px;
  }
  .point-line {
    display: none;
  }
  #section5 .portfolio-title {
    left: initial;
  }
  #section7 h2 {
    left: initial;
  }
}

@media screen and (max-height: 900px) {
  #section2 .iam-ul-top div:nth-child(2) {
    margin-top: 20px;
  }
  #section2 .iam-ul-top div:first-child {
    margin-top: 20px;
  }
  #section2 .divid-950 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #section2 .education-ul-bottom {
    margin-top: initial;
  }
  #section2 .education-ul-bottom li div:first-child {
    margin-top: 30px;
    padding-top: 30px;
    min-height: 50px;
  }
  /* Skills start */
  #section3 .circle + p {
    margin-top: 10px;
    font-size: 24px;
  }
  #section3 > .container .row div.active-position {
    margin-top: 80px;
  }
  /* experience start */
  #section4 > .container .row div.active-position {
    margin-top: 90px;
  }
  #section4 > .container .row:nth-of-type(2) > div > div {
    padding-top: 5px;
  }
  #section4 > .container .exp-rows:last-child .experience-blocks {
    border-bottom: none;
  }
  #section4 .experience-blocks .exp-left hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #section4 .experience-blocks .exp-left h2 {
    margin-top: 10px;
  }
  #section4 .experience-blocks .exp-left h5 {
    margin-top: 5px;
  }
  /* Portfolio start */
  #section5 .for-hover {
    max-height: 350px;
  }
  /* Contact section start */
  #section7 #contract-row-3-form {
    margin-top: 30px;
  }
  #section7 #contract-row-3-form input {
    margin-top: 80px;
  }
  #section7 #contract-row-3-form .form-submit-wrap {
    margin-top: 90px;
  }
  #section7 .contact-row-2 h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }
  #section7 .contact-row-2 p {
    font-size: 16px;
  }
  #section7 .contact-row-2 .col-sm-4 {
    margin-top: 100px;
  }
  #section7 .cocial-buttons {
    margin-top: 20px;
    font-size: 40px;
  }
  /* Hire section */
  #section6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  #section1 .section1-inf .divider-m {
    width: 50%;
  }
  .point-line {
    display: none;
  }
}

@media screen and (max-height: 768px) {
  /* About start */
  #section2 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #section2 .iam-ul-top div:nth-child(2) {
    margin-top: 20px;
    font-size: 18px;
  }
  #section2 .iam-ul-top div:first-child {
    margin-top: 20px;
    font-size: 18px;
  }
  #section2 .divid-950 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #section2 .education-ul-bottom {
    margin-top: initial;
  }
  #section2 .education-ul-bottom li div:first-child {
    margin-top: 15px;
    padding-top: 15px;
    min-height: 50px;
    font-size: 18px;
  }
  #section2 .education-ul-bottom li div:nth-child(2) p {
    font-size: 20px;
  }
  /* Skills start */
  #section3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #section3 .circle + p {
    margin-top: 10px;
    font-size: 24px;
  }
  #section3 > .container .row div.active-position {
    margin-top: 80px;
  }
  /* experience start */
  #section4 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #section4 > .container .row div.active-position {
    margin-top: 90px;
  }
  #section4 > .container .row:nth-of-type(2) > div > div {
    padding-top: 5px;
  }
  #section4 > .container .exp-rows:last-child .experience-blocks {
    border-bottom: none;
  }
  #section4 .experience-blocks {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D8D8D8;
  }
  #section4 .experience-blocks .exp-left hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #section4 .experience-blocks .exp-left h2 {
    margin-top: 10px;
  }
  #section4 .experience-blocks .exp-left h5 {
    margin-top: 5px;
  }
  /* Portfolio start */
  #section5 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  #section5 .portfolio-nav {
    margin-top: 50px;
  }
  #section5 .portfolio-nav ul li a {
    font-size: 18px;
  }
  #section5 .for-hover {
    max-height: 250px;
  }
  #section5 .portfolio-inner-main {
    margin-top: 30px;
  }
  /* Contact section start */
  #section7 {
    padding-top: 20px;
  }
  #section7 #contract-row-3-form {
    margin-top: 30px;
  }
  #section7 #contract-row-3-form input {
    margin-top: 60px;
  }
  #section7 #contract-row-3-form label {
    font-size: 16px;
  }
  #section7 #contract-row-3-form .form-submit-wrap {
    margin-top: 40px;
  }
  #section7 .contact-row-2 h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }
  #section7 .contact-row-2 p {
    font-size: 16px;
  }
  #section7 .contact-row-2 .col-sm-4 {
    margin-top: 100px;
  }
  #section7 .cocial-buttons {
    margin-top: 20px;
    font-size: 40px;
  }
  /* Hire section */
  #section6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* End of media max-height 768 */
@media screen and (max-width: 767px) {
  #section1 {
    padding-left: 15px;
  }
  #section7 {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section7 #contract-row-3-form input {
    margin-top: 80px;
  }
  #section2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 68px;
  }
  #section4 {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section5 {
    padding-left: 15px;
    padding-right: 15px;
  }
  #section6 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 720px) {
  #section2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .portfolio-nav ul li {
    float: none;
  }
}

@media screen and (max-width: 640px) {
  .experience-blocks .exp-left {
    display: block;
    width: 100%;
    max-width: 320px;
    border-right: none;
  }
  .experience-blocks .exp-left h2 {
    text-align: justify;
  }
  .experience-blocks .exp-left h4 {
    text-align: left;
  }
  .experience-blocks .exp-left h5 {
    text-align: left;
  }
  .experience-blocks .exp-right {
    padding-left: 0;
  }
  #section2 .iam-ul-top div:first-child {
    display: block;
  }
  #section2 .iam-ul-top div:nth-child(2) {
    left: inherit;
    padding-left: 0;
    margin-top: inherit;
  }
}

@media screen and (max-height: 480px) {
  #nav-icon1 {
    margin-top: 5%;
  }
  .icon-bar {
    height: initial !important;
    width: 100% !important;
    display: block;
    right: 5px;
  }
  .icon-bar .menu-name {
    display: none !important;
  }
  .icon-bar ul {
    margin-top: -68px;
    margin-right: 40px;
  }
  .icon-bar ul li {
    float: left;
  }
  .icon-bar ul li a {
    border: none !important;
  }
}

@media screen and (max-width: 320px) {
  .experience-blocks .exp-left {
    padding-right: 0;
  }
  .experience-blocks .exp-left h2 {
    text-align: center;
  }
  #section5 {
    padding-bottom: 60px;
  }
  #section5 .for-hover {
    max-height: 250px;
  }
  #section5 .portfolio-title {
    font-size: 38px;
  }
  #section6 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #section6 .container {
    height: initial;
  }
  #section6 .row {
    height: initial;
  }
  #section6 .for-shadow .shadow {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #section6 .hire-inner a {
    margin-top: 40px;
    width: 100%;
  }
  #section6 .hire-inner h2 {
    font-size: 38px;
  }
  #section6 .hire-inner p {
    font-size: 38px;
  }
  .experience-blocks .exp-left h2 {
    font-size: 38px;
  }
  .experience-blocks .exp-left h4 {
    text-align: center;
  }
  .experience-blocks .exp-left h5 {
    text-align: center;
  }
  .experience-blocks .exp-right h3 {
    text-align: center;
    color: #12c2bc;
  }
  .experience-blocks .exp-right p {
    text-align: center;
  }
  #section3 h2 {
    font-size: 38px;
  }
  #section3 .col-md-4 {
    margin-top: 80px;
  }
  #section2 .iam-ul-top div:nth-child(2) {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #326273;
  }
  #section2 .education-row h3 {
    font-size: 42px;
  }
  #section4 h3.ex-section-title {
    font-size: 38px;
  }
  #nav-icon1 {
    margin-top: 9%;
  }
  #nav-icon-parent {
    padding-right: 35px;
  }
  .education-ul-bottom li div:nth-child(2) p {
    margin-bottom: 8px;
  }
  .cocial-buttons li {
    width: 40px;
  }
  .cocial-buttons a {
    font-size: 32px;
  }
  #section7 {
    padding-bottom: 70px;
  }
  #section7 #contract-row-3-form button {
    width: 100%;
  }
}
