@media screen and (max-height: 1024px){
	#section2{
		padding-top: 60px;
		padding-bottom: 40px;
		.iam-ul-top{
			div:nth-child(2){
				margin-top: 40px;
				font-size: 22px;
			}
			div:first-child{
				margin-top: 40px;
				font-size: 22px;
			}
		} 
		.divid-950{
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.education-ul-bottom{
			margin-top: initial;
			li{
				div:first-child{
					margin-top: 25px;
					padding-top: 25px;
					min-height: 65px;
					font-size: 24px;
				}
				div:nth-child(2){
					p{
						font-size: 24px;
					}
				}
			}
		}
	} 
}
