@media screen and (max-width: 767px){
	#section1{
		padding-left: 15px;
	}

	#section7{
		padding-left: 15px;
		padding-right: 15px;
		#contract-row-3-form{
			input{
				margin-top: 80px;
			}
		}
	} 

	#section2{ 
		padding-left: 15px; 
		padding-right: 15px;
	}   

	#section3{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 68px;
	}

	#section4{
		padding-left: 15px;
		padding-right: 15px;
	}

	#section5{
		padding-left: 15px;
		padding-right: 15px;
	}

	#section6{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
   